@using IdentityServer.Quickstart.Tenant

@model TenantSelectionViewModel

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="row page-header">
        <div class="col-sm-10">
            Select a Tenant
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <form asp-action="Index">
                <input type="hidden" asp-for="ReturnUrl" />
                @foreach (var tenant in Model.Tenants)
                {
                    <button name="selectedTenant" value="@tenant.Id" class="btn">@tenant.Name</button>
                }
            </form>
        </div>
    </div>
</div>